.filter {
    margin-top: 64px;
    background-color: #FFFFFFCC;
    color: #555563;
  }
  
  /*.filter * {
    background-color: #FFFFFFCC;
    color: #555563;
  }*/
  
  
  .filter h1, .filter h2, .filter h3, .filter h4 {
    text-transform: uppercase;
  }
  
  .filter form legend {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
  }
  
  .filter label {
    font-size: 14px;
    text-transform: capitalize;
  }
  
  .price-range input {
    appearance: textfield;
  }
  
  .price-range-rectangle-container {
    height: 70px;
    position: relative;
  }
  
  .price-range-rectangle-container:not(:has(.price-range-rectangle:hover))::before {
    content: 'τιμές σε προσφορά';
    font-size: 10px;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 8ch);
  }
  
  .price-range-rectangle {
    display: inline-flex;
    justify-content: baseline;
    align-items: center;
    flex-grow: 1;
    margin-right: 5px;
    background: #00B9F2;
    text-align: center;
    position: relative;
  }
  
  .price-range-rectangle:hover {
    transform: scale(110%);
    transition: transform 200ms ease-in;
    max-height: 70px;
  }
  
  .price-range-rectangle {
    transform: scale(100%);
    transition: transform 200ms ease-out;
  }
  
  .price-range-rectangle:hover::before {
    content: attr(price) '€';
    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .price-range-rectangle:hover::after {
    content: '(' attr(count) ')';
    font-size: 10px;
    position: absolute;
    bottom: 2.5ex;
    width: 100%;
    text-align: center;
  }
  
  .form-check input ~ label {
    margin-inline-start: 10px;
  }
  
  .filter :checked + label {
    font-weight: 600;
  } 